<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- jQuery JavaScript Library; required by Bootstrap JS Library -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <!-- Bootstrap CSS and JavaScript Libraries; required by Bootstrap Multiselect -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css"/>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap Multiselect JavaScript Library and CSS -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>
    <style>
        div.container {
            width: 100%;
            height: 100%;
            border: 1px solid gray;
            padding: 0;
        }

        header, footer {
            padding: 1em;
            color: white;
            background-color: grey;
            clear: left;
            text-align: center;
        }
        footer {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
        }
        nav {
            float: left;
            max-width: 160px;
            margin: 0;
            padding: 1em;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav ul a {
            text-decoration: none;
        }

        article {
            margin-left: 270px;
            height: 100%;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: visible;
        }

        body {
            margin: 0 !important;
        }
    </style>

</head>
<body>
<div class="container">

    <header>
        <h1>The Mac Advantage</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/job/all">Jobs</a></li>
            <li><a href="/customer/all">Customers</a></li>
            <li><a href="/tech/all">Techs</a></li>
            <li><a href="/techreport/all">Tech Report</a> </li>
            <li><a href="/about/about">About</a> </li>
        </ul>
    </nav>
<body style="margin-left:20px;">
    <article>