<%- include("./includes/header.ejs", {title: title}); %>

<h1><%= title %></h1>
<p>Rohnert Park's #1 choice for Mac Repair</p>

<a href="/job/all">Jobs - View All</a>
<br>
<a href="/customer/all">Customers  - View All</a>
<br>
<a href="/tech/all">Techs - View All</a>
<br>
<a href="/techreport/all">Tech Report</a>
<br>
<a href="/about/about">About </a>
<%- include("./includes/footer.ejs"); %>
