<%- include("../includes/header.ejs", {title:" - " + result[0].company_name}); %>
    <h1>Tech:</h1>
    <ul>
        <li>Name: <%= result[0].name %></li>
        <li>SSN: <%= result[0].social_security %></li>
    </ul>

<a href="/tech/all"><< back</a>

<%- include("../includes/footer.ejs"); %>