<%- include("../includes/header.ejs", {title:"Techs - View All"}); %>

<h1>Techs</h1>
        <a href="/tech/add">Add New Tech</a> <br />

        <br />

        <table border="1">
            <tr><th>Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/tech/?social_security=<%= result[i].social_security %>"><%= result[i].name %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/tech/edit/?company_id=<%= result[i].company_id %>'">Edit</button>
                    <form action="/tech/delete/" style="display:inline;">
                        <input type="hidden" name="social_security" id="social_security" value="<%= result[i].social_security %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
<%- include("../includes/footer.ejs"); %>