<%- include("../includes/header.ejs", {title:"Add New Company"}); %>
    <h1>Add New Tech</h1>
    <form action="/tech/insert" method="get">
        Tech Name: <input id="name" name="name" type="text" />
        <br />
        <br />
        Tech's Social: <input id="social_security" name="social_security" type="text" />
        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>