<%- include("../includes/header.ejs", {title:"tech Report - View All"}); %>

<h1>Incomplete Jobs</h1>
<br />

<table border="1">
    <tr><th> Job ID </th><th> First Name </th><th> Last Name </th><th> Job Description </th><th> Job Status </th><th> Location </th><th> Actions </th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/job/?job_id=<%= result[i].job_id %>"><%= result[i].job_id %></a></td>
        <td><%= result[i].first_name %></td>
        <td><%= result[i].last_name %></td>
        <td><%= result[i].job_description %></td>
        <td><%= result[i].job_status %></td>
        <td><%= result[i].location %></td>
        <td>
            <form action="/job/delete/" style="display:inline;">
                <input type="hidden" name="job_id" id="job_id" value="<%= result[i].job_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>