<%- include("../includes/header.ejs", {title:"Add New Company"}); %>
<h1>Add New Job</h1>
<form action="/job/insert" method="get">
    *Contact:
    <br />
    <select id="contact_id" name="contact_id">
        <% for(var i=0; contact.length > i; i++ ) { %>
        <option value="<%= contact[i].contact_id %>"><%= contact[i].first_name %> <%= contact[i].last_name %></option>
        <% } %>
    </select>
    <br />
    <br />
    *Computer:
    <br />
    <select id="computer_id" name="computer_id">
        <% for(var i =0; computer.length > i; i++) { %>
        <option value="<%= computer[i].computer_id %>"><%= computer[i].serial_number %></option>
            <% } %>
    </select>
    <br />
    *Status:
    <br />
    <input id="job_status" name="job_status" type="text"/>
    <br />
    *Location:
    <br />
    <input id="location" name="location" type="text"/>
    <br />
    *Job Description:
    <br />
    <textarea id="job_description" name="job_description" type="text"></textarea>
    <br />
    *Repair Description:
    <br />
    <textarea id="repair_description" name="repair_description" type="text"></textarea>
    <br />
    Total Repair Cost: <input id="repair_cost" name="repair_cost" type="text" />
    <br />
    Balance Owed: <input id="balanced_owed" name="balanced_owed" type="text" />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>