<%- include("../includes/header.ejs", {title: "Update " + job.job_id + "'s Job"}); %>

<h1>Update <%= job.first_name%> <%= job.last_name%></h1>
<form action=/job/update" method="get">
    <input type="hidden" id="job_id" name="job_id" value="<%= job.job_id %>">
    Location:
    <br />
    <input id="location" name="location" type="text" value="<%= job.location%>"/>
    <br />
    <br />
    Status:
    <br />
    <input id ="job_status" name="job_status" type="text" value="<%= job.job_status%>"/>
    <br />
    <br />
    Job Description:
    <br/>
    <input id="job_description" name="job_description" type="text" value="<%= job.job_description%>"/>
    <br />
    <br />
    Repair Description:
    <br />
     <input id="repair_description" name="repair_description" type="text" value="<%= job.repair_description%>"/>
    <br />
    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>
