<%- include("../includes/header.ejs", {title:"Job - " + result[0].job_id}); %>
<h1>Job Details</h1>
<ul>
    <li>Status: <%= result[0].job_status %></li>
    <li>Location: <%= result[0].location %></li>
    <li>First Name: <%= result[0].first_name %></li>
    <li>Last Name: <%= result[0].last_name %></li>
    <li>Phone Number: <%= result[0].phone_number %></li>
    <li>Computer: <%= result[0].computer_type%> <%= result[0].model_year%></li>
    <li>Job Description</li>
        <ul> <li><%= result[0].job_description %></li> </ul>
    <li>Repair Description</li>
        <ul><li><%= result[0].repair_description %></li></ul>
    <li>Balance Owed: $<%= result[0].balanced_owed %></li>

</ul>

<a href="/job/all"><< back</a>

<%- include("../includes/footer.ejs"); %>