<%- include("../includes/header.ejs", {title:"Add New about"}); %>
<h1>About Page</h1>
<a href=”/images/ERdiagram.JPG”>ER Diagram</a>
<br/>
<a href="/images/RelationalSchema.JPG">Relational Schema</a>
<br/>
<body>
The purpose of this web app is to mimic the current client/job management database we are currently using (Filemaker Pro).
Although I did not accomplish as I intially thought I would, it has given me a better understanding of what goes on
int the back end of a web app like this. I do plan on continuing my work on this web app and propose it to my supervisor.
Filemaker is very restricted in what you can change, so I do feel in the long run this site will be a better solution for my
job. Thank you for everything this year, I have learned a lot of useful tools and plan on continuing web development.
</body>
<%- include("../includes/footer.ejs"); %>