<%- include("../includes/header.ejs", {title: "Update " + customer.contact_id}); %>

<h1>Update <%= customer.first_name %> <%= customer.last_name %></h1>
<form action=/customer/update" method="get">
    <input type="hidden" id="contact_id" name="contact_id" value="<%= customer.contact_id %>">
    First Name:
    <br />
    <input id="first_name" name="last_name" type="text" value="<%= customer.first_name%>"/>
    <br />
    <br />
    Last Name:
    <br />
    <input id ="last_name" name="last_name" type="text" value="<%= customer.last_name%>"/>
    <br />
    <br />
    Email:
    <br/>
    <input id="email" name="email" type="text" value="<%= customer.email%>"/>
    <br />
    <br />
    Phone Number:
    <br />
     <input id="phone_number" name="phone_number" type="text" value="<%= customer.phone_number%>"/>
    <br />
    <br />
    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>
