<%- include("../includes/header.ejs", {title:"Job - " + result.first_name}); %>
<h1>Contact Details</h1>
<ul>
    <li>First Name: <%= result[0].first_name %></li>
    <li>Last Name: <%= result[0].last_name %></li>
    <li>Email: <%= result[0].email %></li>
    <li>Phone Number: <%= result[0].phone_number %></li>
    <li>1st Street Number: <%= result[0].street_number_1 %></li>
    <li>2nd Street Number: <%= result[0].street_number_2%></li>
    <li>Zip code: <%= result[0].zipcode%></li>
    <li>City: <%= result[0].city %></li>
    <li>State: <%= result[0].state %></li>

</ul>

<a href="/customer/all"><< back</a>

<%- include("../includes/footer.ejs"); %>