<%- include("../includes/header.ejs", {title:"contact - View All"}); %>

<h1>Contact</h1>
<a href="/job/add">Add New Contact</a> <br />

<br />

<table border="1">
    <tr><th> First Name </th><th> Email </th><th> Phone Number </th><th> Address </th><th> Actions </th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/customer/?contact_id=<%= result[i].contact_id %>"><%= result[i].first_name %> <%= result[i].last_name%> </a></td>
        <td><%= result[i].email%></td>
        <td><%= result[i].phone_number %></td>
        <td><%= result[i].street_number_1%></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/customer/edit/?contact_id=<%= result[i].contact_id %>'">Edit</button>
            <form action="/customer/delete/" style="display:inline;">
                <input type="hidden" name="job_id" id="job_id" value="<%= result[i].contact_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>