<%- include("../includes/header.ejs", {title:"Add New Resume"}); %>
<h1>Add New Resume</h1>
<form action="/resume/insert/resume" method="get">
    <input type="hidden" id="account_id" name="account_id" value="<%= account %>">
    <br />
    Resume Name: <input id="resume_name" name="resume_name" type="text" />
    <br />
    <br />
    School: <select id="school_id" name="school_id" multiple="multiple" class = "elements">
        <% for(var i=0; schools.length > i; i++ ) { %>
        <option value="<%= schools[i].school_id %>"><%= schools[i].school_name%></option>
        <% } %>
    </select>
    <br />
    <br />
    Companies: <select id="company_id" name="company_id" multiple="multiple" class="elements">
        <% for(var i =0; company.length > i; i++){ %>
        <option value="<%= company[i].company_id%>"><%= company[i].company_name%></option>
        <% }%>
    </select>
    <br />
    <br />
    Skills: <select id="skill_id" name="skill_id" multiple="multiple" class="elements">
        <% for(var i =0; skills.length > i; i++){ %>
        <option value="<%= skills[i].skill_id%>"><%= skills[i].skill_name%></option>
        <% }%>
    </select>
    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('.elements').multiselect();
        });
    </script>


    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>